
body {
    margin: 0;
    padding: 0;
    background-color: #FFFAEC;
}

.navbar {
    background-color: #7BC1B7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    height: 55px;
}

.navbar .logo img{
    width: 50px;
    display: inline-block;
    padding-left: 20px;

}

.navbar .link {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar .link li {
    list-style: none;
    display: inline-block;
    margin-right: 70px;
    text-align: center;
}

.link li a {
    text-decoration: none;
    color:#FDF6EC ;

}

.link li a:hover {
    color: #257180 ;

}

.link li img {
    width: 15px;
    margin-right: 5px;
}

.photo {
    position: relative;
    padding-bottom: 0;
}

.img1 {
    width: 100%;
    max-height: 500px;
    display: block;
    object-fit: cover;
    opacity: 0.8;
    clip-path: ellipse(100% 80% at 50% 0%);
    margin-bottom: -60px;
}

.photo-logo {
    position: absolute;
    top: 40%; 
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #7BC1B7;
    font-family: 'Cairo', sans-serif;
}
@media (max-width: 768px) {
    .photo-logo {
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

/* .hallow{
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    color: #0B8FAC;
} */

.services-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 50px;
    flex-direction: row;

  }
  
.service-circle {
    width: 100px;
    height: 400px;
    background-color:#D3ECCD ;
    border-top-left-radius: 100px;
    border-bottom-left-radius:100px ;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }
  
.vertical-text{
    font-family: 'Cairo', sans-serif;
    font-size: 300%;
    color: #7BC1B7;
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
.service-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    gap: 15px ;
    justify-content: center;
  }
  
.card{
    perspective: 1000px ;
    cursor: pointer;
  }
.card:hover {
    transform: scale(1.025);
    box-shadow: 5px 5px 10px var(white);
}
.inner-card{
    width: 150px ;
    height: 200px;
    background-color: #D3ECCD;
    border: #7BC1B7;
    border-style: double;
    border-radius: 30%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card.flipped .inner-card {
  transform: rotateY(180deg);
}

.front, .back{
    position: absolute;
    width: 150px ;
    height: 200px ;
    backface-visibility: hidden;
    border-radius: 30%;

}

.back {
  transform: rotateY(180deg);
  background-color: #7BC1B7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  text-align: center;
  font-family: 'Cairo', sans-serif;
  font-size: large;
}
.card img{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 120px;
    height: 120px;
    border-radius: 30%;
  }
  
.card h2 {
    color:#7BC1B7;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
  }

/* .top {
    visibility: hidden;
    top: 85%;
    left: 50%;
    position: absolute;
    background-color:rgba(128, 128, 128, 0.3) ;
    opacity: 0;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: medium;
    z-index: 1;
  }

.card:hover .top , .card:focus-within .top{
    visibility: visible;
    opacity: 1;
  } */

.book{
  text-align: center;
}

.img2{
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.img2 img{
  width: 100%;
  max-height: 500px;
  display: inline-block;
  object-fit: cover;
  opacity: 0.5;
  border-radius: 5%;
}

.text{
  position: absolute;
  top: 0;
  left: 0;
}

.text h2 {
  font-family: "Oleo Script";
  color: white;
  font-size: 50px;
  width: 50%;
  font-weight: bold;
  margin-bottom: 0;
}

.text p {
  font-size: 21px;
  color: white;
  font-family: "Oleo Script";
  width: 50%;
  font-weight: bold;
  margin-bottom: 40px;
}

.book-btn {
  background-color: #5da79b;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.book-btn:hover {
  background-color:rgba(128, 128, 128, 0.3) ;
  color: #257180;
}

.footer-container{
  background-color: #5da79b;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  margin-top: 20px;
}

.logo-footer{
  margin-right: 5px;
}

.footer-link{
  margin: 10px 10px;
}

.footer-link a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: white;
  margin-bottom: 10px;
}
.footer-links img {
    width: 15px;
    margin-right: 5px;
}

